@using MiniArmory.Core.Models.Race
@model RaceViewModel

@{
    ViewData["Title"] = "Race Details";
}

@if (Model.Faction == "Alliance")
{
    <div class="d-inline-block col-12" style="height:800px">
        <div style="
    background-image: url('https://assets.worldofwarcraft.com/static/components/Pane/Pane-leather-blue.9de312ba15472b63bc7e9d3f62b64c65.jpg');
height: 800px;">
            <h2 class="text-center text-primary" style="font-size: 3em;">@Model.Name</h2>
            <div class="text-center">
                <img src="@Model.Arms" class="col-1 text-center" />
                <img src="@Model.FactionImage" class="col-1 text-center" />
                <img src="@Model.Arms" class="col-1 text-center" />
            </div>
            <div>
                <img src="@Model.Image" alt="Race model" class="col-2 d-inline-flex offset-3" style="transform: scaleX(-1); position:relative; top: -65px;" />
                <div class="d-inline-block text-center col-2">
                    <p class="text-light col-12 d-inline-flex text-center pb-2">@Model.Description</p>
                    <p class="text-light col-12 text-center d-inline-block" style="font-weight: bold; font-size: 2em;">@Model.RacialSpell</p>
                    <img src="@Model.RacialSpellImage" class="d-inline-block col-2" />
                    <p class="text-light text-center col-12 d-inline-block pt-3">@Model.RacialSpellDescription</p>
                </div>
                <img src="@Model.Image" alt="Race model" class="col-2 d-inline-flex" style="position:relative; top: -65px;"/>
            </div>
        </div>
    </div>
}
else
{
    <div class="d-inline-block col-12" style="height:800px">
        <div style="
    background-image: url('https://assets.worldofwarcraft.com/static/components/Pane/Pane-leather-red.ed195e1c1da9da078315cae0469323e1.jpg');
height: 800px;">
            <h2 class="text-center text-danger" style="font-size: 3em;">@Model.Name</h2>
            <div class="text-center">
                <img src="@Model.Arms" class="col-1 text-center" />
                <img src="@Model.FactionImage" class="col-1 text-center" />
                <img src="@Model.Arms" class="col-1 text-center" />
            </div>
            <div>
                <img src="@Model.Image" alt="Race model" class="col-2 d-inline-flex offset-3" style="transform: scaleX(-1); position:relative; top: -65px;" />
                <div class="d-inline-block text-center col-2">
                    <p class="text-light col-12 d-inline-flex text-center pb-2">@Model.Description</p>
                    <p class="text-light col-12 text-center d-inline-block" style="font-weight: bold; font-size: 2em;">@Model.RacialSpell</p>
                    <img src="@Model.RacialSpellImage" class="d-inline-block col-2" />
                    <p class="text-light text-center col-12 d-inline-block pt-3">@Model.RacialSpellDescription</p>
                </div>
                <img src="@Model.Image" alt="Race model" class="col-2 d-inline-flex" style="position:relative; top: -65px;"/>
            </div>
        </div>
    </div>
}