@using MiniArmory.Core.Models.Spell
@model SpellListViewModel

@{
    ViewData["Title"] = "All Spells";
}

<div class="col-1 offset-1">
    <label class="dropdown text-light pb-2" for="Type">Type:</label>
    <select class="form-control" id="Type" name="Type"></select>
</div>

<div id="FilteredSpells">
    <partial name="_AllSpellsPartialView" />
</div>

@{
    string prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    string nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="text-center">
    <a asp-controller="Spell"
       asp-action="AllSpells"
       asp-route-pageNo="@(Model.PageNo - 1)"
       asp-route-pageSize="@Model.PageSize"
       class="btn btn-primary @prevDisabled">
        Previous
    </a>
    <a asp-controller="Spell"
       asp-action="AllSpells"
       asp-route-pageNo="@(Model.PageNo + 1)"
       asp-route-pageSize="@Model.PageSize"
       class="btn btn-primary @nextDisabled">
        Next
    </a>
</div>

@section Scripts {

<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/Spell/SpellTypes",
            headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
            success: function (types)
            {
                var s = '<option value="-1">Type</option>';
                for (var i = 0; i < types.length; i++)
                {
                    s += '<option value="' + types[i] + '">' + types[i] + '</option>';
                }
                $("#Type").html(s);
            }
        })
    })

    $(document).on('change', 'select#Type', function(){
        var type = null;
        if($(this).val()=="Class"){
            type = "Class";
        }
        else if($(this).val()=="Race"){
            type = "Race";
        }
        else{
            type = null;
        }

        $.ajax({
            type: "GET",
            dataType: "html",
            url: "/Spell/FilterSpells",
            data: { type: type, pageNo: @Model.PageNo, pageSize: @Model.PageSize },
            headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
            success: function (spells)
            {
                console.log(spells);
                $("#FilteredSpells").html(spells);
            }
        });
    });
</script>
}