@using MiniArmory.Core.Models.Character
@model IEnumerable<CharacterViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-light">
    <h1 class="display-4 pt-3 text-center">Welcome to MiniArmory</h1>

    <div class="d-inline-flex card-deck pt-2 col-6">
        @foreach (var player in Model)
        {
            <div class="card m-3 bg-dark border border-secondary text-center">
                <img src="@player.Image.B64Content" class="col-12" />
                <div class="card-body ps-3">
                <a asp-action="Details" asp-controller="Character" asp-route-id="@player.Id" class="text-center text-decoration-none text-light"><h5 class="card-title">@player.Name</h5></a>
                    <p class="card-text text-center">Rating: @player.Rating</p>
                    <p class="card-text text-center text-success">Wins: @player.Win</p>
                    <p class="card-text text-center text-danger">Losses: @player.Loss</p>
                </div>
            </div>
        }
    </div>

    <div class="col-9 offset-1">
        <h3 class="display-4 text-success pt-5 offset-1">Forge your destiny by fighting against, among, and with the best and strive to become one of them.</h3>
    </div>
</div>
