@using MiniArmory.Core.Models.Character
@model AchievementCharacterViewModel

@{
    ViewData["Title"] = "Add achievements to character";
}

<div class="d-inline-flex pt-3">
    <partial name="_CharacterWithCollectionPartialView" />

    <div class="d-inline-block p-2">
        @if (Model.Achievements.Count() >= 1)
        {
            @foreach (var achie in Model.Achievements)
            {
                <form class="d-inline-block" asp-action="AddAchievement" asp-controller="Character" asp-route-id="@Model.Character.Id" asp-route-achievement="@achie.Name">
                    <div class="card d-inline-flex bg-success text-white m-2" style="border: 1px solid #ffffff;">
                        <div class="col-6 d-inline-flex">
                            <img src="@achie.Image" alt="Achievement image" style="height: 5em;">
                            <div class="col-12 offset-2">
                                <p class="text-center col-12">@achie.Name</p>
                                <p class="text-center col-12">Category: @achie.Category</p>
                                <p class="text-center col-12" style="text-align: justify;">@achie.Description</p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <input class="btn btn-outline-light text-center" type="submit" formmethod="post" value="Take your chance">
                    </div>
                </form>
            }
        }
        else
        {
            <h2 class="text-light pt-3 ps-5">There are no achievements for you to earn currently.</h2>
        }
    </div>
</div>