@using MiniArmory.Core.Models.Character
@model AchievementCharacterViewModel

@{
    ViewData["Title"] = "Add achievements to character";
}

<div class="d-inline-flex pt-3">
    <div class="col-4 d-inline-block border offset-1">
        <img src="@Model.Character.FactionImage" class="d-inline-flex col-2" />
        <a asp-action="Details" asp-controller="Character" asp-route-id="@Model.Character.Id" class="d-inline-block p-2 text-decoration-none">
            @if (@Model.Character.FactionName == "Alliance")
            {
                <h3 class="text-primary d-block">@Model.Character.Name</h3>
                <h4 class="text-light d-block">@Model.Character.ClassName</h4>
            }
            else
            {
                <h3 class="text-danger">@Model.Character.Name</h3>
                <h4 class="text-light d-block">@Model.Character.ClassName</h4>
            }
        </a>

        <img src="@Model.Character.Image" class="p-2 col-12" />
    </div>

    <div class="d-inline-block p-2">
        @if (Model.Achievements.Count() >= 1)
        {
            @foreach (var achie in Model.Achievements)
            {
                <form class="d-inline-block" asp-action="AddAchievement" asp-controller="Character" asp-route-id="@Model.Character.Id" asp-route-achievement="@achie.Name">
                    <div class="card d-inline-flex bg-success text-white m-2" style="border: 1px solid #ffffff;">
                        <div class="col-6 d-inline-flex">
                            <img src="@achie.Image" alt="Achievement image" style="height: 5em;">
                            <div class="col-12 offset-2">
                                <p class="text-center col-12">@achie.Name</p>
                                <p class="text-center col-12">Category: @achie.Category</p>
                                <p class="text-center col-12" style="text-align: justify;">@achie.Description</p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <input class="btn btn-outline-light text-center" type="submit" formmethod="post" value="Take your chance">
                    </div>
                </form>
            }
        }
        else
        {
            <h2 class="text-light pt-3 ps-5">There are no achievements for you to earn currently.</h2>
        }
    </div>
</div>