@using MiniArmory.Core.Models.Character
@model MountCharacterViewModel

@{
    ViewData["Title"] = "Add mounts to character";
}


<div class="d-inline-flex pt-3">
    <partial name="_CharacterWithCollectionPartialView" />

    <div class="d-inline-block p-2">
        @if (Model.Mounts.Count() >= 1)
        {
            @foreach (var mount in Model.Mounts)
            {
                <form class="d-inline-block row-6" asp-action="AddMount" asp-controller="Character" asp-route-id="@Model.Character.Id" asp-route-mountName="@mount.Name">
                    <div class="card d-inline-flex bg-dark text-white m-2" style="width: 31rem; height: 11rem; border: 4px solid #808080;">
                        <div class="col-6 d-inline-flex">
                            <a href="@mount.Image" target=_blank><img src="@mount.Image" alt="Mount image" style="height: 10em;"></a>
                            <div class="col-6">
                                <p style="width: 9rem;">@mount.Name</p>
                                <p style="width: 9rem;">Ground speed: @mount.GroundSpeed</p>
                                <p style="width: 9rem;">Flying speed: @mount.FlyingSpeed</p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <input class="btn btn-outline-light text-center" type="submit" formmethod="post" value="Take your chance">
                    </div>
                </form>
            }
        }
        else
        {
            <h2 class="text-light pt-3 ps-5">There are no mounts for you to earn currently.</h2>
        }
    </div>
</div>