@using MiniArmory.Core.Models.Character
@model IEnumerable<CharacterViewModel>

@{
    ViewData["Title"] = "Pick a Character";
}

<div class="card-body table-responsive col-8 offset-2">
    @if (Model.Count() >= 1)
    {
        <table class="table table-hover text-nowrap">
            <thead>
                <tr>
                    <th class="text-light text-center">Class</th>
                    <th class="text-light text-center">Name</th>
                    <th class="text-light text-center">Realm</th>
                    <th class="text-light text-center">Rating</th>
                    <th class="text-light text-center">Activities</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var character in Model.OrderBy(x => x.Name))
                {
                    <tr>
                        <td class="text-light text-center">
                            <img src="~/images/classes/@{@character.ClassName}.png" alt="@character.ClassName" style="height: 3em"/>
                        </td>
                        <td class="text-light text-center">
                            @if (character.FactionName == "Alliance")
                            {
                                <a asp-action="Details"
                                asp-controller="Character"
                                asp-route-id="@character.Id"
                                class="text-decoration-none text-primary">
                                    @character.Name
                                </a>
                            }
                            else
                            {
                                <a asp-action="Details"
                                asp-controller="Character"
                                asp-route-id="@character.Id"
                                class="text-decoration-none text-danger">
                                    @character.Name
                                </a>
                            }
                        </td>
                        <td class="text-light text-center">@character.RealmName</td>
                        <td class="text-light text-center">@character.Rating</td>
                        <td class="text-light text-center">
                            @if (character.PartnerId != default)
                            {
                                <a asp-action="PlayArenaAsTeam"
                                asp-controller="Character"
                                asp-route-id="@character.Id"
                                asp-route-partnerId="@character.PartnerId"
                                class="btn btn-block btn-outline-primary btn-xs text-light">Team Arena</a>
                            }
                            else
                            {
                                <a asp-action="SignUp"
                                asp-controller="Character"
                                asp-route-id="@character.Id"
                                class="btn btn-block btn-outline-primary btn-xs text-light">Sign up</a>
                            }

                            <a asp-action="AddMount"
                            asp-controller="Character"
                            asp-route-id="@character.Id"
                            class="btn btn-block btn-outline-info btn-xs text-light">Earn mounts</a>
                            
                            <a asp-action="AddAchievement" 
                            asp-controller="Character" 
                            asp-route-id="@character.Id" 
                            class="btn btn-block btn-outline-success btn-xs text-light">Earn achievements</a>
                            
                            <a class="btn btn-block btn-outline-light btn-xs dropdown-toggle text-light"
                                href="#"
                                id="EditDropdown"
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Edit
                            </a>

                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li><a asp-controller="Character"
                                    asp-action="ChangeName"
                                    asp-route-id="@character.Id"
                                    class="dropdown-item">Change Name</a>
                                </li>
                                <li><a asp-controller="Character"
                                    asp-action="ChangeRace"
                                    asp-route-id="@character.Id"
                                    class="dropdown-item">Change Race</a>
                                </li>
                                <li><a asp-controller="Character"
                                    asp-action="ChangeFaction"
                                    asp-route-id="@character.Id"
                                    class="dropdown-item">Change Faction</a>
                                </li>
                                <li><a asp-controller="Character"
                                    asp-action="ChangeImage"
                                    asp-route-id="@character.Id"
                                    class="dropdown-item">Change Image</a>
                                </li>
                            </ul>

                            <a asp-action="DeleteCharacter"
                            asp-controller="Character"
                            asp-route-id="@character.Id"
                            class="btn btn-block btn-outline-danger btn-xs text-light">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h2 class="text-center text-light">You don't have characters to play with yet.</h2>
        <h2 class="text-center text-light">Go create some 
            <a asp-controller="Character" asp-action="AddCharacter">Here</a>
        </h2>
    }
</div>