@using MiniArmory.Core.Models.Character
@model CharacterViewModel

@{
    ViewData["Title"] = $"MiniArmory - {@Model.Name}";
}

<div class="d-inline-block text-center container-fluid m-0 p-0">
    <div class="d-inline-flex" style="width: 100%">
        <div style="
             background-image: url('/images/@{@Model.FactionName}%20Background.jpg');
             width: 100%;">
            <div class="text-center ps-5" style="width: 91%;">

                <img src="@Model.FactionImage"
                alt="Faction Image"
                style="width: 6rem; height: 6rem;"
                class="d-inline-block text-light" />
                
                <a asp-action="Details"
                asp-controller="Character"
                asp-route-id="@Model.Id"
                class="p-2 text-decoration-none d-inline-flex">
                    @if (Model.FactionName == "Alliance")
                    {
                        <h3 class="text-primary">@Model.Name</h3>
                    }
                    else
                    {
                        <h3 class="text-danger">@Model.Name</h3>
                    }
                </a>

                <a asp-action="Achievements"
                asp-controller="Character"
                asp-route-id="@Model.Id"
                class="p-2 text-decoration-none d-inline-flex">
                    <h4 class="text-warning">Achievements</h4>
                </a>

                <a asp-action="Mounts"
                asp-controller="Character"
                asp-route-id="@Model.Id"
                class="p-2 text-decoration-none d-inline-flex">
                    <h4 class="text-warning">Mounts</h4>
                </a>

                <a asp-action="PlayArena"
                asp-controller="Character"
                class="p-2 text-decoration-none d-inline-flex">
                    <h4 class="text-warning">Play Arena</h4>
                </a>
            </div>
            <img src="@Model.Image" style="width: 43rem; height: 44rem;" class="p-2" />
        </div>
    </div>
</div>