@using MiniArmory.Core.Models.Character
@model List<CharacterViewModel>

@{
    ViewData["Title"] = "PvP Leaderboard";
    int i = 1;
}

<div class="card-body table-responsive col-8 offset-2">
    <h2 class="text-center">PvP Leaderboard</h2>
    <table class="table table-hover text-nowrap">
        <thead>
            <tr>
                <th class="text-center text-light">Rank</th>
                <th class="text-center text-light">Name</th>
                <th class="text-center text-light">Realm</th>
                <th class="text-center text-light">Class</th>
                <th class="text-center text-light">Faction</th>
                <th class="text-center text-light">Rating</th>
                <th class="text-center text-light">Wins</th>
                <th class="text-center text-light">Losses</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in Model
            .OrderByDescending(x => x.Rating)
            .ThenBy(x => x.Name))
            {
                <tr>
                    <td class="text-center text-light">@i</td>
                    <td class="text-center"><a asp-controller="Character" asp-action="Details" asp-route-id="@player.Id" class="text-decoration-none text-light">@player.Name</a></td>
                    <td class="text-center text-light">@player.RealmName</td>
                    <td class="text-center text-light"><img src="/images/classes/@{@player.ClassName}.png" alt="Class image" style="height: 3rem;" /></td>
                    <td class="text-center text-light"><img src="/images/@{@player.FactionName}%20Logo.png" alt="Faction image" style="height: 4rem;" /></td>
                    <td class="text-center text-light">@player.Rating</td>
                    <td class="text-center text-success">@player.Win</td>
                    <td class="text-center text-danger">@player.Loss</td>
                </tr>

                i++;
            }
        </tbody>
    </table>
</div>