@using MiniArmory.Core.Models.Character
@model LFGFormModel

@{
    ViewData["Title"] = "Sign up to LFG";
}


<div class="d-inline-flex pt-3">
    <partial name="_CharacterPartialView" />

    <div class="col-6 d-inline-block pt-4">

        @if (Model.CharactersInLFG.Count() >= 1)
        {
            <table class="table table-hover text-nowrap">
                <thead>
                    <tr>
                        <th class="text-center text-light">Name</th>
                        <th class="text-center text-light">Realm</th>
                        <th class="text-center text-light">Class</th>
                        <th class="text-center text-light">Faction</th>
                        <th class="text-center text-light">Rating</th>
                        <th class="text-center text-light">Wins</th>
                        <th class="text-center text-light">Losses</th>
                        <th class="text-center text-light">Potential Partners</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var player in Model.CharactersInLFG
                   .Where(x => x.Id != Model.Id)
                   .OrderByDescending(x => x.Rating)
                   .ThenBy(x => x.Name))
                    {
                        <tr>
                            <td class="text-center"><a asp-controller="Character" asp-action="Details" asp-route-id="@player.Id" class="text-decoration-none text-light">@player.Name</a></td>
                            <td class="text-center text-light">@player.RealmName</td>
                            <td class="text-center text-light"><img src="@player.ClassImage" alt="Class image" style="height: 3rem;" /></td>
                            <td class="text-center text-light"><img src="@player.FactionImage" alt="Faction image" style="height: 4rem;" /></td>
                            <td class="text-center text-light">@player.Rating</td>
                            <td class="text-center text-success">@player.Win</td>
                            <td class="text-center text-danger">@player.Loss</td>
                            <form asp-controller="Character" asp-action="TeamUp" asp-route-id="@Model.Id" asp-route-partnerId="@player.Id">
                            <td class="text-center text-primary">
                                <button type="submit" class="btn btn-primary text-light">Team Up</button>
                            </td>
                            </form>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h2 class="text-center text-light pt-3">There is no one to team up with currently.</h2>
        }
    </div>
</div>