@using MiniArmory.Core.Models.Character
@model LFGFormModel

@{
    ViewData["Title"] = "Sign up to LFG";
}


<div class="row d-inline-flex ">
    <div class="col-5 d-inline-block p-2">
        <img src="@Model.FactionImage" style="width: 6rem; height: 6rem;" class="d-inline-flex" />
        <a asp-action="Details" asp-controller="Character" asp-route-id="@Model.Id" class="d-inline-flex p-2 text-decoration-none">
            @if (@Model.FactionName == "Alliance")
            {
                <h3 class="text-primary">@Model.Name</h3>
            }
            else
            {
                <h3 class="text-warning">@Model.Name</h3>
            }
        </a>
        <img src="@Model.Image" style="width: 28rem; height: 28rem;" class="p-2" />
    </div>

    <div class="col-7 d-inline-block p-2" style="width: 47rem">

        @if (Model.CharactersInLFG.Count() >= 1)
        {
            <table class="table table-hover text-nowrap">
                <thead>
                    <tr>
                        <th class="text-center">Name</th>
                        <th class="text-center">Realm</th>
                        <th class="text-center">Class</th>
                        <th class="text-center">Faction</th>
                        <th class="text-center">Rating</th>
                        <th class="text-center">Wins</th>
                        <th class="text-center">Losses</th>
                        <th class="text-center">Potential Partners</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var player in Model.CharactersInLFG
                   .Where(x => x.Id != Model.Id)
                    .OrderByDescending(x => x.Rating)
                   .ThenBy(x => x.Name))
                    {
                        <tr>
                            <td class="text-center"><a asp-controller="Character" asp-action="Details" asp-route-id="@player.Id" class="text-decoration-none text-dark">@player.Name</a></td>
                            <td class="text-center">@player.RealmName</td>
                            <td class="text-center"><img src="@player.ClassImage" alt="Class image" style="height: 3rem;" /></td>
                            <td class="text-center"><img src="@player.FactionImage" alt="Faction image" style="height: 4rem;" /></td>
                            <td class="text-center">@player.Rating</td>
                            <td class="text-center text-success">@player.Win</td>
                            <td class="text-center text-danger">@player.Loss</td>
                            <form>
                            <td class="text-center text-success"><button type="submit" formmethod="post" class="btn btn-info" asp-controller="Character" asp-action="TeamUp" asp-route-id="@Model.Id" asp-route-partnerId="@player.Id">Party Up</button></td>
                            </form>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h2 class="text-center">There is no one to team up with currently.</h2>
        }
    </div>
</div>