@using MiniArmory.Core.Models.Character
@model MountCharacterViewModel

@{
    ViewData["Title"] = $"Mounts of {@Model.Character.Name}";
}

<div class="form-group text-center pt-2">
    <h2 class="text-center text-light border-bottom border-2 w-50 offset-3">Mounts of @Model.Character.Name</h2>
    <div class="text-start ps-3">

        @foreach (var mount in Model.Mounts)
        {
            <div class="card d-inline-flex bg-dark text-white m-2" style="width: 31rem; height: 11rem; border: 4px solid #808080;">
                <div class="col-6 d-inline-flex">
                    <img src="@mount.Image" alt="Mount image" style="height: 10em;">
                    <div class="col-6">
                        <p style="width: 9rem;">@mount.Name</p>
                        <p style="width: 9rem;">Ground speed: @mount.GroundSpeed</p>
                        <p style="width: 9rem;">Flying speed: @mount.FlyingSpeed</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>