@using MiniArmory.Core.Models.Character
@model List<CharacterViewModel>

@{
    ViewData["Title"] = "Face your enemies";
}

<div class="card-body table-responsive col-8 offset-2">
    @if (Model.Count >= 1)
    {
        <table class="table table-hover text-nowrap">
            <thead>
                <tr>
                    <th class="text-center text-light">Name</th>
                    <th class="text-center text-light">Realm</th>
                    <th class="text-center text-light">Class</th>
                    <th class="text-center text-light">Faction</th>
                    <th class="text-center text-light">Rating</th>
                    <th class="text-center text-light">Wins</th>
                    <th class="text-center text-light">Losses</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var player in Model
               .OrderByDescending(x => x.Rating)
               .ThenBy(x => x.Name))
                {
                    <tr>
                        <td class="text-center">
                            @if (player.FactionName == "Alliance")
                            {
                                <a asp-action="Details"
                                 asp-controller="Character"
                                 asp-route-id="@player.Id"
                                 class="text-decoration-none text-primary">
                                    @player.Name
                                </a>
                            }
                            else
                            {
                                <a asp-action="Details"
                                 asp-controller="Character"
                                 asp-route-id="@player.Id"
                                 class="text-decoration-none text-danger">
                                    @player.Name
                                </a>
                            }
                        </td>
                        <td class="text-center text-light">@player.RealmName</td>
                        <td class="text-center text-light">
                            <img src="/images/classes/@{@player.ClassName}.png" alt="Class image" style="height: 3rem;" />
                        </td>
                        <td class="text-center text-light">
                            <img src="/images/@{@player.FactionName}%20Logo.png" alt="Faction image" style="height: 4rem;" />
                        </td>
                        <td class="text-center text-light">@player.Rating</td>
                        <td class="text-center text-success">@player.Win</td>
                        <td class="text-center text-danger">@player.Loss</td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="text-center">
            <form asp-controller="Character" asp-action="EarnRatingAsTeam" asp-route-id="@Model[0].Id" asp-route-partnerId="@Model[1].Id" class="d-inline-flex">
                <button type="submit" formmethod="post" class="btn btn-success text-light">Play</button>
            </form>

            <form asp-controller="Character" asp-action="LeaveTeam" asp-route-id="@Model[0].Id" asp-route-partnerId="@Model[1].Id" class="pt-1 d-inline-flex">
                <button type="submit" formmethod="post" class="btn btn-danger text-light">Leave Team</button>
            </form>
        </div>

        <form asp-controller="Character" asp-action="EarnRatingAsTeamVsTeam" asp-route-id="@Model[0].Id" asp-route-partnerId="@Model[1].Id" class="pt-1 text-center">
            <button type="submit" formmethod="post" class="btn btn-primary text-light">Play Vs Team</button>
        </form>
        @*<button type="submit" formmethod="post" id="VsTeam" onclick="VsTeam()" class="btn btn-primary text-light pt-1 text-center">Play Vs Team</button>*@
    }
    else
    {
        <h2 class="text-center">You don't have a partner to play with yet.</h2>
        <h2 class="text-center">
            Go create some <a asp-controller="Character" asp-action="CharacterList">Sign up here.</a>
        </h2>
    }
</div>

@*@section Scripts{
    <script>
        //research how to include XSFR
        async function VsTeam() {
            const request = await fetch("/Character/EarnRatingAsTeamVsTeam/@Model[0].Id/@Model[1].Id",
                {
                    method: "POST",
                    credentials: "include"
                });

            if (request.status !== 200) {
                console.log("dogshit");
            }

            const data = await request.json();
        }
    </script>
}*@
