@using MiniArmory.Core.Models.Character
@model List<CharacterViewModel>

@{
    ViewData["Title"] = "Face your enemies";
}

<div class="card-body table-responsive col-8 offset-2">
    @if (Model.Count >= 1)
    {
        <table class="table table-hover text-nowrap">
            <thead>
                <tr>
                    <th class="text-center text-light">Name</th>
                    <th class="text-center text-light">Realm</th>
                    <th class="text-center text-light">Class</th>
                    <th class="text-center text-light">Faction</th>
                    <th class="text-center text-light">Rating</th>
                    <th class="text-center text-light">Wins</th>
                    <th class="text-center text-light">Losses</th>
                    <th class="text-center text-light">Play Arena</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var player in Model
                        .OrderByDescending(x => x.Rating)
                        .ThenBy(x => x.Name))
                {
                    <tr>
                        <td class="text-center"><a asp-controller="Character" asp-action="Details" asp-route-id="@player.Id" class="text-decoration-none text-light">@player.Name</a></td>
                        <td class="text-center text-light">@player.RealmName</td>
                        <td class="text-center text-light"><img src="@player.ClassImage" alt="Class image" style="height: 3rem;" /></td>
                        <td class="text-center text-light"><img src="@player.FactionImage" alt="Faction image" style="height: 4rem;" /></td>
                        <td class="text-center text-light">@player.Rating</td>
                        <td class="text-center text-success">@player.Win</td>
                        <td class="text-center text-danger">@player.Loss</td>
                        <form asp-controller="Character" asp-action="EarnRating" asp-route-id="@player.Id">
                            <td class="text-center text-success"><button type="submit" formmethod="post" class="btn btn-info">Play</button></td>
                        </form>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h2 class="text-center">You don't have characters to play with yet.</h2>
        <h2 class="text-center">Go create some <a asp-controller="Character" asp-action="AddCharacter">Here</a></h2>
    }
</div>