@using MiniArmory.Core.Models.Race;
@model RaceViewModel

<div class="d-inline-block col-12" style="height:800px">
    <div style="
    background-image: url('/images/@Model.Faction%20Background.jpg');
height: 800px;">
        @if (@Model.Faction == "Alliance")
        {
            <h2 class="text-center text-primary" style="font-size: 3em;">@Model.Name</h2>
        }
        else
        {
            <h2 class="text-center text-danger" style="font-size: 3em;">@Model.Name</h2>
        }
        <div class="text-center">
            <img src="@Model.Arms" class="col-1 text-center" />
            <img src="/images/@{@Model.Faction}%20Logo.png" alt="Faction Image" class="col-1 text-center text-light" />
            <img src="@Model.Arms" class="col-1 text-center" />
        </div>
        <div>
            <img src="@Model.Image" alt="Race model" class="col-2 d-inline-flex offset-3" style="transform: scaleX(-1); position:relative; top: -65px;" />
            <div class="d-inline-block text-center col-2">
                <p class="text-light col-12 d-inline-flex text-center pb-2">@Model.Description</p>
                <p class="text-light col-12 text-center d-inline-block" style="font-weight: bold; font-size: 2em;">@Model.RacialSpell</p>
                <img src="@Model.RacialSpellImage" class="d-inline-block col-2" />
                <p class="text-light text-center col-12 d-inline-block pt-3">@Model.RacialSpellDescription</p>
            </div>
            <img src="@Model.Image" alt="Race model" class="col-2 d-inline-flex" style="position:relative; top: -65px;" />
        </div>
    </div>
</div>